/* reset css */
*,*::before,*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit; 
}
body {
    font-size: 1.6rem;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

/*  */