/* reset css */
*,*::before,*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    overflow-y: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit; 
}
body {
    font-size: 1.6rem;
}

.container {
    max-width: 98%;
    margin: 0 auto;
}

/* styling the footer */

#footer {
    border: 1px solid red;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer .footer__top {
    border: 1px solid blue;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#footer .footer__top .col {
    flex: 1;
    border: 1px solid green;
}
